<header class="navbar">
  <% if user_signed_in? %>
    <div class="navbar__brand">
      <%= current_company.name %>
    </div>
    <div class="navbar__name">
      <%= current_user.name %>
    </div>
    <%= render(ButtonComponent.new(text: "Sign out", path: destroy_user_session_path)) %>
  <% else %>
    <%= render(ButtonComponent.new(text: "Sign in", path: new_user_session_path, className: "navbar__right")) %>
  <% end %>
</header>
